Repository renlabs-dev/commune-ts: changes, and which Drone steps are due for each by the changed paths.
All: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

commune-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/agicommies/commune-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

community-validator and worker:
  steps:
  - name: app-build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/agicommies/community-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

app-build:
  image: plugins/docker
  settings:
    registry: ghcr.io
    username: ${DRONE_COMMIT_AUTHOR}
    password:
      from_secret: DOCKER_TOKEN
    repo: ghcr.io/agicommies/community-validator
    tags:
    - latest
    - ${DRONE_BRANCH}
    - ${DRONE_COMMIT_SHA:0:7}
    dockerfile: docker/Dockerfile
  ...

worker-build:
  image: plugins/docker
  settings:
    registry: ghcr.io
    username: ${DRONE_COMMIT_AUTHOR}
    password:
      from_secret: DOCKER_TOKEN
    repo: ghcr.io/agicommies/comrads-worker
    tags:
    - latest
    - ${DRONE_BRANCH}
    - ${DRONE_COMMIT_SHA:0:7}
    dockerfile: docker/Dockerfile
  ...

commune-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/agicommies/commune-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

commune-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/agicommies/commune-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

fix: faq emissions text
  apps/commune-page/src/utils/mocks/frequent-questions.tsx
Due: commune-page, app-build, worker-build

feat: subnet display and delegate functionality
  apps/commune-validator/src/app/(pages)/weighted-modules/page.tsx
  apps/commune-validator/src/app/(pages)/weighted-subnets/page.tsx
  apps/commune-validator/src/app/components/delegate-subnet-weight.tsx
  apps/commune-validator/src/app/components/subnet-accordion.tsx
  apps/commune-validator/src/stores/delegateSubnetStore.ts
Due: community-validator and worker, app-build

feat: cadre page wip
  apps/commune-governance/next-env.d.ts
  apps/commune-governance/src/app/cadre/_components/cadre-members-list.tsx
  apps/commune-governance/src/app/cadre/_components/cadre-requests-list.tsx
  apps/commune-governance/src/app/cadre/_components/cadre-section-container.tsx
  apps/commune-governance/src/app/cadre/_components/index.ts
  apps/commune-governance/src/app/cadre/page.tsx
  apps/commune-governance/src/app/components/balance-section.tsx
  apps/commune-governance/src/app/layout.tsx
  packages/providers/src/context/commune.tsx
  packages/types/types.ts
  packages/ui/src/components/loading.tsx
  packages/ui/src/data.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: add forum-related tables and views
  packages/db/src/schema.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: add title field to forumPostSchema
  packages/db/src/schema.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: Update module data insertion
  apps/commune-validator/next-env.d.ts
  apps/commune-worker/src/db/index.ts
  apps/commune-worker/src/db/type-transformations.ts
  apps/commune-worker/src/workers/module-fetcher.ts
  packages/db/src/schema.ts
  packages/subspace/queries/index.ts
  packages/types/validations.ts
  packages/utils/index.ts
  pnpm-lock.yaml
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

rename org from agicommies to renlabs-dev
  .drone.yml
  apps/commune-page/src/app/docs/[...slug]/components.tsx
  apps/commune-page/src/app/docs/[...slug]/page.tsx
  apps/commune-page/src/app/docs/[...slug]/tutorials/commune-blockchain.mdx
  apps/commune-page/src/app/docs/[...slug]/tutorials/run-validator.mdx
  apps/commune-page/src/app/docs/[...slug]/tutorials/running-local-node.mdx
  apps/commune-page/src/app/docs/[...slug]/tutorials/setup-commune.mdx
  apps/commune-page/src/app/docs/[...slug]/tutorials/subnet-template.mdx
  package.json
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: Add Subnet type definition
  apps/commune-validator/src/app/(pages)/weighted-subnets/page.tsx
  apps/commune-validator/src/app/components/delegate-subnet-weight.tsx
  apps/commune-validator/src/app/components/delegated-list.tsx
  apps/commune-validator/src/app/components/delegated-modules-list.tsx
  apps/commune-validator/src/app/components/subnet-accordion.tsx
  apps/commune-validator/src/app/layout.tsx
  apps/commune-validator/src/stores/delegateSubnetStore.ts
  apps/commune-validator/src/utils/types.ts
  apps/commune-worker/src/db/type-transformations.ts
  apps/commune-worker/src/legacy.ts
  apps/commune-worker/src/workers/module-fetcher.ts
  packages/db/src/schema.ts
  packages/subspace/queries/index.ts
  packages/types/types.ts
  packages/utils/index.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: Update delegate store and subnet store
  apps/commune-validator/src/app/(pages)/loader.tsx
  apps/commune-validator/src/app/(pages)/weighted-modules/page.tsx
  apps/commune-validator/src/app/(pages)/weighted-subnets/page.tsx
  apps/commune-validator/src/app/components/delegate-module-weight.tsx
  apps/commune-validator/src/app/components/delegate-subnet-weight.tsx
  apps/commune-validator/src/app/components/delegated-list.tsx
  apps/commune-validator/src/app/components/subnet-accordion.tsx
  apps/commune-validator/src/app/tutorial/page.tsx
  apps/commune-validator/src/stores/delegateModuleStore.ts
  apps/commune-validator/src/stores/delegateSubnetStore.ts
  packages/api/src/router/subnet.ts
  packages/subspace/queries/index.ts
  packages/types/types.ts
  packages/utils/index.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

:construction: WIP: doubleMapEntries
  packages/utils/index.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

fix: subnet display card
  apps/commune-validator/src/app/components/delegated-modules-list.tsx
  apps/commune-validator/src/app/components/subnet-accordion.tsx
  apps/commune-validator/src/utils/subnet-data-list.tsx
Due: community-validator and worker, app-build

wip: subnet worker fetcher and module data calculation and submission
  apps/commune-worker/src/calc.ts
  apps/commune-worker/src/common/index.ts
  apps/commune-worker/src/index.ts
  apps/commune-worker/src/legacy.ts
  apps/commune-worker/src/types/index.ts
  apps/commune-worker/src/weights.ts
  apps/commune-worker/src/workers/module-fetcher.ts
  apps/commune-worker/src/workers/notify-dao-applications.ts
  apps/commune-worker/src/workers/process-dao-applications.ts
  apps/commune-worker/src/workers/subnet-fetcher.ts
  apps/commune-worker/src/workers/weight-aggregator.ts
  packages/db/src/schema.ts
  packages/subspace/queries/index.ts
  packages/types/types.ts
  packages/utils/index.ts
  pnpm-lock.yaml
  turbo.json
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: delegate store update
  apps/commune-validator/src/app/(pages)/layout.tsx
  apps/commune-validator/src/app/(pages)/subnets/page.tsx
  apps/commune-validator/src/app/(pages)/weighted-modules/page.tsx
  apps/commune-validator/src/app/(pages)/weighted-subnets/page.tsx
  apps/commune-validator/src/app/components/delegate-module-weight.tsx
  apps/commune-validator/src/app/components/delegated-modules-list.tsx
  apps/commune-validator/src/app/components/module-card.tsx
  apps/commune-validator/src/app/components/subnet-accordion.tsx
  apps/commune-validator/src/stores/delegateModuleStore.ts
  apps/commune-validator/src/stores/delegateSubnetStore.ts
Due: community-validator and worker, app-build

feat: multiple updates on front and and backend structure
  apps/commune-validator/src/app/(pages)/subnets/page.tsx
  apps/commune-validator/src/app/components/subnet-accordion.tsx
  apps/commune-validator/src/utils/subnet-data-list.tsx
  apps/commune-worker/src/db/index.ts
  apps/commune-worker/src/db/type-transformations.ts
  apps/commune-worker/src/workers/module-fetcher.ts
  packages/db/src/schema.ts
  packages/types/validations.ts
  pnpm-lock.yaml
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

fix: db schema
  apps/commune-worker/src/db/index.ts
  packages/db/src/schema.ts
  packages/types/validations.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: endpoints for subnet and basic front end structure
  apps/commune-validator/src/app/(pages)/layout.tsx
  apps/commune-validator/src/app/(pages)/page.tsx
  apps/commune-validator/src/app/(pages)/subnets/page.tsx
  apps/commune-validator/src/app/(pages)/weighted/page.tsx
  apps/commune-validator/src/app/components/subnet-accordion.tsx
  apps/commune-validator/src/app/module/[...slug]/page.tsx
  packages/api/src/root.ts
  packages/api/src/router/subnet.ts
  packages/db/src/schema.ts
  packages/db/src/validation.ts
  pnpm-lock.yaml
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: Update module data insertion
  apps/commune-worker/src/db/index.ts
  apps/commune-worker/src/db/type-transformations.ts
  apps/commune-worker/src/workers/module-fetcher.ts
  packages/db/src/schema.ts
  packages/subspace/queries/index.ts
  packages/types/validations.ts
  packages/utils/index.ts
  pnpm-lock.yaml
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

refactor: Update report module form and types
  apps/commune-validator/src/app/components/report-module.tsx
  apps/commune-validator/src/utils/types.ts
  packages/api/src/router/module.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

Path conditions:
  commune-page: any file but: apps/commune-governance/**, apps/commune-validator/**, apps/communex-page/**, apps/comrads-worker/**, apps/sample-app/**, apps/commune-wallet/**
  community-validator and worker: any file but: apps/commune-governance/**, apps/commune-page/**, apps/communex-page/**, apps/sample-app/**, apps/commune-wallet/**
  app-build: any file but: apps/comrads-worker/**
  worker-build: any file but: apps/commune-validator/**
  commune-governance: any file but: apps/commune-page/**, apps/commune-validator/**, apps/communex-page/**, apps/comrads-worker/**, apps/sample-app/**, apps/commune-wallet/**
  commune-wallet: any file but: apps/commune-page/**, apps/commune-validator/**, apps/communex-page/**, apps/comrads-worker/**, apps/sample-app/**, apps/commune-governance/**
