Repository renlabs-dev/commune-ts: changes, and which Drone steps are due for each by the changed paths.
All: commune-page, community-validator and worker, app-build, worker-build, commune-governance

Path conditions:
  commune-page: any file but: apps/commune-governance/**, apps/commune-validator/**, apps/communex-page/**, apps/comrads-worker/**, apps/sample-app/**
  community-validator and worker: any file but: apps/commune-governance/**, apps/commune-page/**, apps/communex-page/**, apps/sample-app/**
  app-build: any file but: apps/comrads-worker/**
  worker-build: any file but: apps/commune-validator/**
  commune-governance: any file but: apps/commune-page/**, apps/commune-validator/**, apps/communex-page/**, apps/comrads-worker/**, apps/sample-app/**

fix: dumb guy (me) forgot the token
  .drone.yml
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance

fix: wip
  apps/commune-validator/src/app/layout.tsx
Due: community-validator and worker, app-build

fix: wip
  packages/providers/src/context/commune.tsx
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance

fix: commit hash based deployment
  .drone.yml
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance

feat: fix loader on home
  apps/commune-governance/src/app/components/balance-section.tsx
  apps/commune-governance/src/app/components/modal.tsx
  apps/commune-governance/src/app/components/proposal-list-header.tsx
Due: app-build, worker-build, commune-governance

feat: multiple adjustments for new governance release
  apps/commune-governance/src/app/components/balance-section.tsx
  apps/commune-governance/src/app/components/card-skeleton.tsx
  apps/commune-governance/src/app/components/label.tsx
  apps/commune-governance/src/app/components/modal.tsx
  apps/commune-governance/src/app/components/proposal-card.tsx
  apps/commune-governance/src/app/components/proposal-list-header.tsx
  apps/commune-governance/src/app/components/proposal-reward-card.tsx
  apps/commune-governance/src/app/components/reward-label.tsx
  apps/commune-governance/src/app/components/vote-card.tsx
  apps/commune-governance/src/app/components/vote-label.tsx
  apps/commune-governance/src/app/components/vote-text.tsx
  apps/commune-governance/src/app/dao/[id]/_components/dao-expanded-view.tsx
  apps/commune-governance/src/app/loader.tsx
  apps/commune-governance/src/app/proposal/[id]/_components/proposal-expanded-view.tsx
  apps/commune-governance/src/app/proposal/[id]/loader.tsx
  packages/subspace/utils/index.ts
  packages/wallet/src/components/wallet.tsx
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance

troubleshot broken CI
  .drone.yml
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance

fix: card loader and balance section
  apps/commune-governance/src/app/components/balance-section.tsx
  apps/commune-governance/src/app/components/card-skeleton.tsx
Due: app-build, worker-build, commune-governance

fix: stake voted card
  apps/commune-governance/src/app/components/proposal-card.tsx
Due: app-build, worker-build, commune-governance

fix: card size
  apps/commune-governance/src/app/proposal/[id]/_components/proposal-expanded-view.tsx
Due: app-build, worker-build, commune-governance

Revert "troubleshot broken CI"
  .drone.yml
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance

fix: use jq instead of grep on CI deploy
  .drone.yml
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance

fix: missing jq on doctl image
  .drone.yml
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance

feat: add icons to wallet package
  packages/wallet/public/receive-icon.svg
  packages/wallet/public/send-icon.svg
  packages/wallet/public/stake-icon.svg
  packages/wallet/public/transfer-icon.svg
  packages/wallet/public/unstake-icon.svg
  packages/wallet/public/wallet-icon.svg
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance

feat: remove unvoted label
  apps/commune-governance/src/app/components/vote-label.tsx
Due: app-build, worker-build, commune-governance

fix: proposal markdown preview
  apps/commune-governance/src/app/components/add-transfer-dao-treasury-proposal.tsx
  apps/commune-governance/src/app/components/create-dao.tsx
  apps/commune-governance/src/app/components/create-proposal.tsx
Due: app-build, worker-build, commune-governance

feat: db structure for user name on comments
  apps/commune-governance/src/app/components/create-comment.tsx
  packages/db/drizzle/0000_broad_jane_foster.sql
  packages/db/drizzle/comment_digest_view.sql
  packages/db/src/schema.ts
  packages/db/src/validation.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance

feat: add user name on front end
  apps/commune-governance/src/app/components/proposal-comments.tsx
Due: app-build, worker-build, commune-governance
