Repository renlabs-dev/commune-ts: changes, and which Drone steps are due for each by the changed paths.
All: commune-page, community-validator, commune-worker, commune-governance, commune-wallet, commune-cache

commune-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/commune-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

community-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/community-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

commune-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/commune-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

commune-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/commune-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

commune-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/commune-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

commune-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/commune-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

refactor: update CubeObject component and improve camera settings
  apps/commune-page/public/cursor.glb
  apps/commune-page/src/app/components/cube-object.jsx
Due: commune-page

fix: adjust Fresnel intensity in CubeObject component
  apps/commune-page/src/app/components/cube-object.jsx
Due: commune-page

feat: new animation
  apps/commune-page/next-env.d.ts
  apps/commune-page/next.config.mjs
  apps/commune-page/package.json
  apps/commune-page/public/cursor.glb
  apps/commune-page/src/app/components/animation/glsl.d.ts
  apps/commune-page/src/app/components/animation/index.tsx
  apps/commune-page/src/app/components/animation/shaders/lines/fragment.glsl
  apps/commune-page/src/app/components/animation/shaders/points/fragment.glsl
  apps/commune-page/src/app/components/animation/shaders/points/vertex.glsl
  apps/commune-page/src/app/components/cube-object.jsx
  apps/commune-page/src/app/components/sections/main-section.tsx
  apps/commune-page/src/app/page.tsx
  pnpm-lock.yaml
Due: commune-page, community-validator, commune-worker, commune-governance, commune-wallet, commune-cache

use aux helm chart for shared resources
  .drone.yml
  apps/commune-governance/values.yaml
  apps/commune-validator/values.yaml
  apps/commune-worker/values.yaml
  values-utils.yaml
  values.yaml
Due: commune-page, community-validator, commune-worker, commune-governance, commune-wallet, commune-cache

refactor: optimize CubeObject component camera settings and bounds
  apps/commune-page/src/app/components/cube-object.jsx
Due: commune-page

refactor: optimize CubeObject component settings and layout
  apps/commune-page/src/app/components/cube-object.jsx
Due: commune-page

use environment namespace values for worker
  apps/commune-worker/helmfile.yaml
Due: commune-worker

use helmfile for commune-worker
  .drone.yml
  apps/commune-worker/helmfile.yaml
  apps/commune-worker/values.dev.yaml
  apps/commune-worker/values.prod.yaml
  apps/commune-worker/values.yaml
Due: commune-page, community-validator, commune-worker, commune-governance, commune-wallet, commune-cache

set health check for workers
  apps/commune-worker/values.yaml
Due: commune-worker

simplify worker helmfile and move root values files
  .drone.yml
  apps/commune-worker/helmfile.yaml
  helm/values-utils.yaml
  helm/values.yaml
  helm/values.yaml.gotmpl
Due: commune-page, community-validator, commune-worker, commune-governance, commune-wallet, commune-cache

use helmfiles all the way
  .drone.yml
  apps/commune-cache/helmfile.yaml
  apps/commune-cache/values.dev.yaml
  apps/commune-cache/values.prod.yaml
  apps/commune-governance/helmfile.yaml
  apps/commune-governance/values.dev.yaml
  apps/commune-governance/values.prod.yaml
  apps/commune-page/helmfile.yaml
  apps/commune-page/values.dev.yaml
  apps/commune-page/values.prod.yaml
  apps/commune-validator/helmfile.yaml
  apps/commune-validator/values.dev.yaml
  apps/commune-validator/values.prod.yaml
  apps/commune-wallet/helmfile.yaml
  apps/commune-wallet/values.dev.yaml
  apps/commune-wallet/values.prod.yaml
Due: commune-page, community-validator, commune-worker, commune-governance, commune-wallet, commune-cache

disable workers liveness probe coz they're bugged as fuck
  apps/commune-worker/values.yaml
Due: commune-worker

tweak requests and limits
  apps/commune-cache/values.yaml
  apps/commune-worker/helmfile.yaml
Due: commune-worker, commune-cache

decrease weight aggregator cpu request
  apps/commune-worker/helmfile.yaml
Due: commune-worker

Increase worker dao memory limit
  apps/commune-worker/helmfile.yaml
Due: commune-worker

feat: handleCleanPrefix
  packages/utils/index.ts
Due: commune-page, community-validator, commune-worker, commune-governance, commune-wallet, commune-cache

change pipeline k8s auth script
  .drone.yml
Due: commune-page, community-validator, commune-worker, commune-governance, commune-wallet, commune-cache

add clean-stale-releases job
  .drone.yml
Due: commune-page, community-validator, commune-worker, commune-governance, commune-wallet, commune-cache

Path conditions:
  commune-page: any file but: apps/commune-governance/**, apps/commune-validator/**, apps/communex-page/**, apps/commune-worker/**, apps/sample-app/**, apps/commune-wallet/**, apps/commune-cache/**
  community-validator: any file but: apps/commune-worker/**, apps/commune-governance/**, apps/commune-page/**, apps/communex-page/**, apps/sample-app/**, apps/commune-wallet/**, apps/commune-cache/**
  commune-worker: any file but: apps/commune-validator/**, apps/commune-governance/**, apps/commune-page/**, apps/communex-page/**, apps/sample-app/**, apps/commune-wallet/**, apps/commune-cache/**
  commune-governance: any file but: apps/commune-page/**, apps/commune-validator/**, apps/communex-page/**, apps/commune-worker/**, apps/sample-app/**, apps/commune-wallet/**, apps/commune-cache/**
  commune-wallet: any file but: apps/commune-page/**, apps/commune-validator/**, apps/communex-page/**, apps/commune-worker/**, apps/sample-app/**, apps/commune-governance/**, apps/commune-cache/**
  commune-cache: any file but: apps/commune-page/**, apps/commune-validator/**, apps/communex-page/**, apps/commune-worker/**, apps/sample-app/**, apps/commune-governance/**, apps/commune-wallet/**
