Repository renlabs-dev/commune-ts: changes, and which Drone steps are due for each by the changed paths.
All: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

commune-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/agicommies/commune-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

community-validator and worker:
  steps:
  - name: app-build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/agicommies/community-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

app-build:
  image: plugins/docker
  settings:
    registry: ghcr.io
    username: ${DRONE_COMMIT_AUTHOR}
    password:
      from_secret: DOCKER_TOKEN
    repo: ghcr.io/agicommies/community-validator
    tags:
    - latest
    - ${DRONE_BRANCH}
    - ${DRONE_COMMIT_SHA:0:7}
    dockerfile: docker/Dockerfile
  ...

worker-build:
  image: plugins/docker
  settings:
    registry: ghcr.io
    username: ${DRONE_COMMIT_AUTHOR}
    password:
      from_secret: DOCKER_TOKEN
    repo: ghcr.io/agicommies/comrads-worker
    tags:
    - latest
    - ${DRONE_BRANCH}
    - ${DRONE_COMMIT_SHA:0:7}
    dockerfile: docker/Dockerfile
  ...

commune-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/agicommies/commune-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

commune-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/agicommies/commune-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

chore: add console.logs to access env values on dev
  apps/commune-governance/src/app/page.tsx
  packages/providers/src/index.tsx
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

fix: remove public symbolic link
  apps/commune-governance/public
Due: app-build, worker-build, commune-governance

feat: Add ReportModule component to ModulePage
  apps/commune-validator/src/app/components/report-module.tsx
  apps/commune-validator/src/app/module/[...slug]/page.tsx
  packages/api/src/router/module.ts
  packages/db/src/schema.ts
  packages/db/src/validation.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: add governance local public assets without symlink
  apps/commune-governance/public/against-down.svg
  apps/commune-governance/public/arrow-link-icon.svg
  apps/commune-governance/public/bg-pattern.svg
  apps/commune-governance/public/community-icon.svg
  apps/commune-governance/public/dao-icon.svg
  apps/commune-governance/public/discord-icon.svg
  apps/commune-governance/public/docs-icon.svg
  apps/commune-governance/public/favicon.ico
  apps/commune-governance/public/favorable-up.svg
  apps/commune-governance/public/github-icon.svg
  apps/commune-governance/public/globe-icon.svg
  apps/commune-governance/public/governance-icon.svg
  apps/commune-governance/public/logo.svg
  apps/commune-governance/public/polkadot-logo.svg
  apps/commune-governance/public/receive-icon.svg
  apps/commune-governance/public/send-icon.svg
  apps/commune-governance/public/stake-icon.svg
  apps/commune-governance/public/telegram-icon.svg
  apps/commune-governance/public/transfer-icon.svg
  apps/commune-governance/public/unstake-icon.svg
  apps/commune-governance/public/updates-icon.svg
  apps/commune-governance/public/wallet-icon.svg
  apps/commune-governance/public/x-icon.svg
Due: app-build, worker-build, commune-governance

feat: remove public package from dev
  package.json
  packages/public/eslint.config.js
  packages/public/index.ts
  packages/public/package.json
  packages/public/script.ts
  packages/public/svgs/against-down.svg
  packages/public/svgs/arrow-link-icon.svg
  packages/public/svgs/bg-pattern.svg
  packages/public/svgs/community-icon.svg
  packages/public/svgs/dao-icon.svg
  packages/public/svgs/discord-icon.svg
  packages/public/svgs/docs-icon.svg
  packages/public/svgs/favicon.ico
  packages/public/svgs/favorable-up.svg
  packages/public/svgs/github-icon.svg
  packages/public/svgs/globe-icon.svg
  packages/public/svgs/governance-icon.svg
  packages/public/svgs/logo.svg
  packages/public/svgs/polkadot-logo.svg
  packages/public/svgs/receive-icon.svg
  packages/public/svgs/send-icon.svg
  packages/public/svgs/stake-icon.svg
  packages/public/svgs/telegram-icon.svg
  packages/public/svgs/transfer-icon.svg
  packages/public/svgs/unstake-icon.svg
  packages/public/svgs/updates-icon.svg
  packages/public/svgs/wallet-icon.svg
  packages/public/svgs/x-icon.svg
  packages/public/tsconfig.json
  pnpm-lock.yaml
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

fix: tailwind config content causing performance issues
  apps/commune-governance/tailwind.config.ts
  apps/commune-page/tailwind.config.ts
  apps/commune-validator/tailwind.config.ts
  apps/commune-wallet/tailwind.config.ts
  apps/communex-page/tailwind.config.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

chore: remove unfunctional public package
  package.json
  packages/public/eslint.config.js
  packages/public/index.ts
  packages/public/package.json
  packages/public/script.ts
  packages/public/svgs/against-down.svg
  packages/public/svgs/arrow-link-icon.svg
  packages/public/svgs/bg-pattern.svg
  packages/public/svgs/community-icon.svg
  packages/public/svgs/dao-icon.svg
  packages/public/svgs/discord-icon.svg
  packages/public/svgs/docs-icon.svg
  packages/public/svgs/favicon.ico
  packages/public/svgs/favorable-up.svg
  packages/public/svgs/github-icon.svg
  packages/public/svgs/globe-icon.svg
  packages/public/svgs/governance-icon.svg
  packages/public/svgs/logo.svg
  packages/public/svgs/polkadot-logo.svg
  packages/public/svgs/receive-icon.svg
  packages/public/svgs/send-icon.svg
  packages/public/svgs/stake-icon.svg
  packages/public/svgs/telegram-icon.svg
  packages/public/svgs/transfer-icon.svg
  packages/public/svgs/unstake-icon.svg
  packages/public/svgs/updates-icon.svg
  packages/public/svgs/wallet-icon.svg
  packages/public/svgs/x-icon.svg
  packages/public/tsconfig.json
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: hardcode communeCacheUrl
  packages/providers/src/context/commune.tsx
  packages/providers/src/index.tsx
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

chore: test dockerfile with cache provider env
  docker/Dockerfile
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

chore: test remove hardcoded env
  packages/providers/src/index.tsx
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

fix: add env to dockerfile
  docker/Dockerfile
  packages/providers/src/context/commune.tsx
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

chore: Update WalletHeader component to display the account address on mobile devices
  apps/commune-wallet/src/app/components/sections/wallet.tsx
Due: app-build, worker-build, commune-wallet

fix: voters list and performance enhancement
  apps/commune-governance/src/app/components/voter-list.tsx
  packages/subspace/queries/index.ts
  pnpm-lock.yaml
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: new architecture v4 - wip
  apps/commune-cache/src/index.ts
  apps/commune-cache/src/utils.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: integrate stake from into providers
  apps/commune-cache/src/data.ts
  apps/commune-cache/src/index.ts
  apps/commune-cache/src/load-test.js
  apps/commune-cache/src/routes.ts
  apps/commune-cache/src/server.ts
  apps/commune-cache/tsconfig.json
  packages/subspace/queries/index.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

fix: remove hardcoded fallback
  apps/commune-cache/src/server.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

fix: enhance reliability on calls using promise allsettled
  apps/commune-cache/src/data.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: user stake weight power
  apps/commune-validator/src/app/components/delegated-modules-list.tsx
  apps/commune-validator/src/app/tutorial/page.tsx
  packages/providers/src/index.tsx
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: add wallet link on communeai lp top bar
  apps/commune-page/src/app/layout.tsx
Due: commune-page, app-build, worker-build

fix: format and run lint
  packages/api/src/index.ts
  packages/api/src/jwt/client.ts
  packages/api/src/jwt/index.ts
  packages/api/src/router/auth.ts
  packages/api/src/router/proposal-comment.ts
  packages/api/src/trpc.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

Path conditions:
  commune-page: any file but: apps/commune-governance/**, apps/commune-validator/**, apps/communex-page/**, apps/comrads-worker/**, apps/sample-app/**, apps/commune-wallet/**
  community-validator and worker: any file but: apps/commune-governance/**, apps/commune-page/**, apps/communex-page/**, apps/sample-app/**, apps/commune-wallet/**
  app-build: any file but: apps/comrads-worker/**
  worker-build: any file but: apps/commune-validator/**
  commune-governance: any file but: apps/commune-page/**, apps/commune-validator/**, apps/communex-page/**, apps/comrads-worker/**, apps/sample-app/**, apps/commune-wallet/**
  commune-wallet: any file but: apps/commune-page/**, apps/commune-validator/**, apps/communex-page/**, apps/comrads-worker/**, apps/sample-app/**, apps/commune-governance/**
