Repository renlabs-dev/commune-ts: changes, and which Drone steps are due for each by the changed paths.
All: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

Path conditions:
  commune-page: any file but: apps/commune-governance/**, apps/commune-validator/**, apps/communex-page/**, apps/comrads-worker/**, apps/sample-app/**, apps/commune-wallet/**
  community-validator and worker: any file but: apps/commune-governance/**, apps/commune-page/**, apps/communex-page/**, apps/sample-app/**, apps/commune-wallet/**
  app-build: any file but: apps/comrads-worker/**
  worker-build: any file but: apps/commune-validator/**
  commune-governance: any file but: apps/commune-page/**, apps/commune-validator/**, apps/communex-page/**, apps/comrads-worker/**, apps/sample-app/**, apps/commune-wallet/**
  commune-wallet: any file but: apps/commune-page/**, apps/commune-validator/**, apps/communex-page/**, apps/comrads-worker/**, apps/sample-app/**, apps/commune-governance/**

fix: padding on home page
  apps/commune-validator/src/app/page.tsx
Due: community-validator and worker, app-build

fix: upsert subnet data updates `at_block`
  apps/commune-worker/src/db/index.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

fix: get subnet by netuid instead of table id on subnet expanded view
  apps/commune-validator/src/app/(expanded-pages)/module/[...slug]/page.tsx
  apps/commune-validator/src/app/(expanded-pages)/subnet/[...slug]/page.tsx
  apps/commune-validator/src/app/(pages)/modules/page.tsx
  packages/api/src/router/module.ts
  packages/api/src/router/subnet.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

fix: query user subnet data query netuid / table id mismatch
  apps/commune-validator/src/app/(pages)/subnets/page.tsx
  apps/commune-validator/src/app/components/subnet-card.tsx
  apps/commune-validator/src/stores/delegateSubnetStore.ts
  packages/api/src/router/subnet.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

fix: lint
  apps/commune-worker/src/db/index.ts
  apps/commune-worker/src/discord.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: small visual polishes
  apps/commune-validator/src/app/(expanded-pages)/tutorial/page.tsx
  apps/commune-validator/src/app/layout.tsx
  apps/commune-validator/src/app/page.tsx
Due: community-validator and worker, app-build

fix: Copy validator address to clipboard in tutorial page
  apps/commune-validator/src/app/(expanded-pages)/tutorial/page.tsx
Due: community-validator and worker, app-build

fix: temporarly disable input checking on wallet modal
  packages/wallet/src/components/wallet.tsx
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

:recycle: Refactor: Running weight-aggregation every 1 hour
  apps/commune-worker/src/workers/weight-aggregator.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

fix: merge conflicts
  .env.example
  apps/commune-governance/src/env.ts
  apps/commune-governance/src/trpc/react.tsx
  apps/commune-governance/src/utils/index.tsx
  apps/commune-validator/src/env.ts
  apps/commune-validator/src/trpc/react.tsx
  apps/commune-worker/package.json
  apps/commune-worker/src/calc.ts
  apps/commune-worker/src/common/index.ts
  apps/commune-worker/src/db/index.ts
  apps/commune-worker/src/db/type-transformations.ts
  apps/commune-worker/src/env.ts
  apps/commune-worker/src/index.ts
  apps/commune-worker/src/types/index.ts
  apps/commune-worker/src/weights.ts
  apps/commune-worker/src/workers/module-fetcher.ts
  apps/commune-worker/src/workers/notify-dao-applications.ts
  apps/commune-worker/src/workers/process-dao-applications.ts
  apps/commune-worker/src/workers/subnet-fetcher.ts
  apps/commune-worker/src/workers/weight-aggregator.ts
  packages/api/package.json
  packages/api/src/client.ts
  packages/db/src/schema.ts
  packages/subspace/queries/index.ts
  packages/types/types.ts
  packages/types/validations.ts
  packages/utils/index.ts
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: commune forum integrations and layout
  apps/commune-forum/package.json
  apps/commune-forum/public/against-down.svg
  apps/commune-forum/public/arrow-link-icon.svg
  apps/commune-forum/public/favorable-up.svg
  apps/commune-forum/public/updates-icon.svg
  apps/commune-forum/src/app/components/apps-list.tsx
  apps/commune-forum/src/app/components/categories-tag.tsx
  apps/commune-forum/src/app/components/comments/create-comment.tsx
  apps/commune-forum/src/app/components/comments/report-comment.tsx
  apps/commune-forum/src/app/components/comments/view-comment.tsx
  apps/commune-forum/src/app/components/create-external-post.tsx
  apps/commune-forum/src/app/components/create-post-dropdown.tsx
  apps/commune-forum/src/app/components/create-post.tsx
  apps/commune-forum/src/app/components/dropdown.tsx
  apps/commune-forum/src/app/components/filters/categories-selector.tsx
  apps/commune-forum/src/app/components/filters/filters.tsx
  apps/commune-forum/src/app/components/filters/index.tsx
  apps/commune-forum/src/app/components/modal.tsx
  apps/commune-forum/src/app/components/post-item-list.tsx
  apps/commune-forum/src/app/components/post-list.tsx
  apps/commune-forum/src/app/components/votes-display.tsx
  apps/commune-forum/src/app/page.tsx
  apps/commune-forum/src/app/post/[id]/_components/date.tsx
  apps/commune-forum/src/app/post/[id]/_components/post-expanded-view.tsx
  apps/commune-forum/src/app/post/[id]/_components/post.tsx
  apps/commune-forum/src/app/post/[id]/_components/vote-post-button.tsx
  apps/commune-forum/src/app/post/[id]/page.tsx
  package.json
  packages/api/src/root.ts
  packages/api/src/router/forum.ts
  packages/db/drizzle/0000_naive_anthem.sql
  packages/db/drizzle/meta/0000_snapshot.json
  packages/db/drizzle/meta/_journal.json
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/pagination.tsx
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

fix: format
  apps/commune-worker/package.json
  package.json
  packages/api/package.json
  packages/api/src/root.ts
  packages/api/src/router/forum.ts
  packages/db/drizzle/meta/0000_snapshot.json
  packages/db/drizzle/meta/_journal.json
  packages/db/src/schema.ts
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/pagination.tsx
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: implement authenticated procedures on trpc link
  apps/commune-forum/src/app/api/files/route.ts
  apps/commune-forum/src/app/api/trpc/[trpc]/route.ts
  apps/commune-forum/src/env.ts
  apps/commune-forum/src/trpc/react.tsx
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

fix: lint pipeline
  apps/commune-forum/src/app/api/trpc/[trpc]/route.ts
  apps/commune-forum/src/trpc/react.tsx
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

update docs
  apps/commune-page/next-env.d.ts
  apps/commune-page/src/app/docs/[...slug]/tutorials/commune-blockchain.mdx
  apps/commune-page/src/app/docs/[...slug]/tutorials/deploying-a-subnet.mdx
  apps/commune-page/src/app/docs/[...slug]/tutorials/evm.mdx
  apps/commune-page/src/app/docs/[...slug]/tutorials/general-subnet-dao.mdx
  apps/commune-page/src/app/docs/[...slug]/tutorials/general-subnet.mdx
  apps/commune-page/src/app/docs/[...slug]/tutorials/index.tsx
  apps/commune-page/src/app/docs/[...slug]/tutorials/module-register.mdx
  apps/commune-page/src/app/docs/[...slug]/tutorials/participating-on-a-subnet.mdx
  apps/commune-page/src/app/docs/[...slug]/tutorials/root-subnet.mdx
  apps/commune-page/src/app/docs/[...slug]/tutorials/running-private-chain.mdx
  apps/commune-page/src/app/docs/[...slug]/tutorials/setup-wallet.mdx
  apps/commune-page/src/app/docs/[...slug]/tutorials/subnet-list.mdx
  apps/commune-page/src/app/docs/[...slug]/tutorials/subnet-parameters.mdx
  apps/commune-page/src/app/docs/[...slug]/tutorials/subnet-template.mdx
  apps/commune-page/src/app/docs/[...slug]/tutorials/testnet.mdx
  apps/commune-page/src/app/docs/[...slug]/tutorials/what-is-a-subnet.mdx
  apps/commune-page/src/app/docs/[...slug]/tutorials/yuma-subnets.mdx
Due: commune-page, app-build, worker-build

fix: broken link
  apps/commune-page/src/app/docs/[...slug]/page.tsx
Due: commune-page, app-build, worker-build

Update evm.mdx to include hardhat
  apps/commune-page/src/app/docs/[...slug]/tutorials/evm.mdx
Due: commune-page, app-build, worker-build

feat: new animation
  apps/commune-page/next-env.d.ts
  apps/commune-page/next.config.mjs
  apps/commune-page/package.json
  apps/commune-page/public/cursor.glb
  apps/commune-page/src/app/components/animation/glsl.d.ts
  apps/commune-page/src/app/components/animation/index.tsx
  apps/commune-page/src/app/components/animation/shaders/lines/fragment.glsl
  apps/commune-page/src/app/components/animation/shaders/points/fragment.glsl
  apps/commune-page/src/app/components/animation/shaders/points/vertex.glsl
  apps/commune-page/src/app/components/cube-object.jsx
  apps/commune-page/src/app/components/sections/main-section.tsx
  apps/commune-page/src/app/page.tsx
  pnpm-lock.yaml
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

add k8s pipelines
  .drone.yml
  apps/commune-cache/values.dev.yaml
  apps/commune-cache/values.prod.yaml
  apps/commune-cache/values.yaml
  apps/commune-governance/values.dev.yaml
  apps/commune-governance/values.prod.yaml
  apps/commune-governance/values.yaml
  apps/commune-page/values.dev.yaml
  apps/commune-page/values.prod.yaml
  apps/commune-page/values.yaml
  apps/commune-validator/values.dev.yaml
  apps/commune-validator/values.prod.yaml
  apps/commune-validator/values.yaml
  apps/commune-wallet/values.dev.yaml
  apps/commune-wallet/values.prod.yaml
  apps/commune-wallet/values.yaml
  apps/commune-worker/values.dev.yaml
  apps/commune-worker/values.prod.yaml
  apps/commune-worker/values.yaml
  values.yaml
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

add missing worker env var
  apps/commune-worker/values.yaml
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

tweak commune worker resource requests and limits
  apps/commune-worker/values.yaml
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

tweak commune-cache requests and limits
  apps/commune-cache/values.yaml
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

[skip-ci] increase commune-cache probes interval
  apps/commune-cache/values.yaml
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet
