Repository renlabs-dev/commune-ts: changes, and which Drone steps are due for each by the changed paths.
All: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

Path conditions:
  commune-page: any file but: apps/commune-governance/**, apps/commune-validator/**, apps/communex-page/**, apps/comrads-worker/**, apps/sample-app/**, apps/commune-wallet/**
  community-validator and worker: any file but: apps/commune-governance/**, apps/commune-page/**, apps/communex-page/**, apps/sample-app/**, apps/commune-wallet/**
  app-build: any file but: apps/comrads-worker/**
  worker-build: any file but: apps/commune-validator/**
  commune-governance: any file but: apps/commune-page/**, apps/commune-validator/**, apps/communex-page/**, apps/comrads-worker/**, apps/sample-app/**, apps/commune-wallet/**
  commune-wallet: any file but: apps/commune-page/**, apps/commune-validator/**, apps/communex-page/**, apps/comrads-worker/**, apps/sample-app/**, apps/commune-governance/**

fix: format
  apps/commune-worker/src/index.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

fix(tooling): typo preventing "global" typecheck on app packages
  apps/commune-governance/package.json
  apps/commune-page/package.json
  apps/commune-validator/package.json
  apps/commune-wallet/package.json
  packages/utils/index.ts
  packages/wallet/package.json
  packages/wallet/src/components/wallet.tsx
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: subnet filters
  apps/commune-validator/src/app/(pages)/modules/page.tsx
  apps/commune-validator/src/app/(pages)/subnets/page.tsx
  apps/commune-validator/src/app/components/subnet-view-controls.tsx
  packages/api/src/router/subnet.ts
  packages/subspace/queries/index.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

refactor: Update validator addresses in tutorial and components
  apps/commune-validator/src/app/(expanded-pages)/tutorial/page.tsx
  apps/commune-validator/src/app/components/delegated-list.tsx
  apps/commune-wallet/src/app/components/validators-list.tsx
Due: community-validator and worker, app-build, worker-build, commune-wallet

:adhesive_bandage: fix: notifier
  apps/commune-worker/src/common/index.ts
  apps/commune-worker/src/workers/notify-dao-applications.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: register a module
  apps/commune-governance/src/app/components/modal.tsx
  apps/commune-governance/src/app/components/proposal/register-module.tsx
  apps/commune-validator/src/app/components/charts/_common.ts
  apps/commune-validator/src/app/components/charts/module-bar-chart.tsx
  packages/providers/src/context/commune.tsx
  packages/types/types.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: refactor dao notifier to use discord webhook
  .env.example
  .vscode/settings.json
  apps/commune-worker/src/common/env.ts
  apps/commune-worker/src/discord.ts
  apps/commune-worker/src/workers/notify-dao-applications.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: polish module creation form and community validator graphs
  apps/commune-governance/src/app/components/proposal/register-module.tsx
  apps/commune-validator/src/app/components/charts/combined-area-chart.tsx
  apps/commune-validator/src/app/components/charts/module-bar-chart.tsx
  apps/commune-validator/src/app/components/charts/subnet-pie-chart.tsx
  apps/commune-validator/src/app/components/delegated-scroll.tsx
  apps/commune-validator/src/app/page.tsx
  apps/commune-worker/src/common/index.ts
  packages/providers/src/context/commune.tsx
  packages/providers/src/hooks/index.ts
  packages/subspace/queries/index.ts
  packages/utils/index.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

fix: graphs
  apps/commune-validator/src/app/components/charts/module-bar-chart.tsx
  apps/commune-validator/src/app/components/charts/subnet-pie-chart.tsx
  apps/commune-validator/src/app/page.tsx
Due: community-validator and worker, app-build

refactor: optimize conditional rendering in page.tsx
  apps/commune-validator/src/app/page.tsx
Due: community-validator and worker, app-build

fix: module and subnet submit
  apps/commune-validator/src/app/components/delegated-list.tsx
  packages/api/src/router/module.ts
  packages/api/src/router/subnet.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

:art: commenting reason for a variable
  packages/db/src/schema.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

:adhesive_bandage: Upserting isWhitelisted
  apps/commune-worker/src/db/index.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

fix: module query and graph function
  apps/commune-validator/src/app/components/charts/_common.ts
  packages/api/src/router/module.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

fix: other query
  packages/api/src/router/module.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

fix: small visual polishes
  apps/commune-validator/src/app/(pages)/layout.tsx
  apps/commune-validator/src/app/(pages)/modules/page.tsx
  apps/commune-validator/src/app/page.tsx
Due: community-validator and worker, app-build

:adhesive_bandage: upserting module_id
  apps/commune-worker/src/db/index.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: selected buttons on layout
  apps/commune-validator/src/app/(pages)/layout.tsx
  apps/commune-worker/src/common/env.ts
  apps/commune-worker/src/discord.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

:recycle: using modulekey on the page query
  apps/commune-validator/src/app/(expanded-pages)/module/[...slug]/page.tsx
  apps/commune-validator/src/app/components/module-card.tsx
  packages/api/src/router/module.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

feat: add community validator link to lp
  apps/commune-page/src/app/layout.tsx
  packages/ui/src/data.ts
Due: commune-page, community-validator and worker, app-build, worker-build, commune-governance, commune-wallet

fix: padding on home page
  apps/commune-validator/src/app/page.tsx
Due: community-validator and worker, app-build
